<div class="sidebar-brand">
  <a routerLink="/create-pool" class="brand-link">
    <span class="hrr-brand-icon"><i class="bi bi-piggy-bank-fill"></i></span>
    <span class="brand-text fw-light">Ahorraco</span>
  </a>
</div>

<div class="sidebar-wrapper">
  <nav class="mt-2" aria-label="Navegación principal">
    <ul
      class="nav sidebar-menu flex-column"
      data-lte-toggle="treeview"
      data-accordion="false"
      role="menu"
    >
      <li class="nav-header">GESTIÓN DE LA PORRA</li>
      <li class="nav-item">
        <a routerLink="/create-pool" routerLinkActive="active" class="nav-link">
          <i class="nav-icon bi bi-plus-square"></i>
          <p>Crear una porra</p>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/organizer-access" class="nav-link">
          <i class="nav-icon bi bi-key"></i>
          <p>Entrar como organizador</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
